<div class="sch-detail-info-title">លក្ខខណ៍នៃការជ្រើសរើស</div>
<div class="sch-detail-info-detail">
    <table class="ui-responsive table-stroke sch-detail-info-detail-table" data-role="table" data-mode="">     
        <tbody>
            {{#each req}}
            <tr>
                <td style="width:120px">
                    <ul style="margin-left: 15px !important">
                        <li>{{req_desc}}</li>
                    </ul>
                </td>
            </tr> 
            {{/each}}
        </tbody>
    </table>    
</div>

