<div class="sch-detail-info-title">ទំនាក់ទំនង</div>
<div class="sch-detail-info-detail">
    <table class="ui-responsive table-stroke sch-detail-info-detail-table" data-role="table" data-mode="">     
        <tbody>
            {{#each contact}}
            <tr>
                <td style="width:120px">អាសយដ្ឋាន</td>
                <td>{{c_address}}</td>
            </tr> 
            <tr>
                <td style="width:120px">លេខទំនាក់ទំនង</td>
                <td><a href="tel:{{c_phone1}}">{{c_phone1}}</a> <a href="tel:{{c_phone2}}">{{c_phone2}}</a> <a href="tel:{{c_phone3}}">{{c_phone3}}</a> </td>
                
            </tr>
            <tr>
                <td style="width:120px">អ៊ីម៉ែល</td>
                <td><a href="mailto:{{c_email}}">{{c_email}}</a></td>
            </tr>
            <tr>
                <td>គេហទំព័រ</td>
                <td>
                    <a href="http://{{c_website}}" onclick="window.open('http://'{{c_website}}, '_blank')" target="_blank" rel="external" data-ajax="false">{{c_website}}</a>
                </td>
            </tr>  
            {{/each}}
        </tbody>
    </table>    
</div>

