<div style="padding: 5px;margin-top:5px;font-size: 16px">លក្ខខណ៍នៃការជ្រើសរើស</div>
<div style="padding: 10px">
    <table class="ui-responsive table-stroke" data-role="table" data-mode="" style="font-size:12px;">     
        <tbody>
            {{#each req}}
            <tr>
                <td style="width:120px">
                    <ul style="margin-left: 15px">
                        <li>{{req_desc}}</li>
                    </ul>
                </td>
            </tr> 
            {{/each}}
        </tbody>
    </table>    
</div>

