<!--<div class="container">-->
    <div style="padding: 10px !important">
        <div class="sch-detail">
            <ul data-role="listview" data-inset="true" id="scholarship-listview" class="scholar">
                {{#each scholar}}
                <li data-icon="false" data-uni-map="{{uni_map}}" onclick="ScholarshipModel.fetchById({{sch_id}},{{uni_id}})">
                    <a href='#page-scholarship-detail' data-transition="slide">
                        <div class="scholar scholarIcon scholarIcon4"></div>
                        <h2>{{sch_name}}</h2>
                        <p>{{uni_name}}</p>
                        <p style="color: brown">{{m_name}}</p>            
                    </a></li>
                {{/each}}
            </ul>
        </div>  
    </div>
<!--</div>-->

