<div data-role="header">
    <h1>Scholarship List</h1>
</div>
<div data-role="content" style="">
    <ul data-role="listview" data-inset="true" style="margin: 0px">
        <li>
            <a href="#">
                <img src="img/beltie_logo.png">
                <h2>Broken Bells</h2>
                <p>Broken Bells</p>
            </a>
        </li>
        <li><a href="#">
                <img src="img/beltie_logo.png">
                <h2>Warning</h2>
                <p>Hot Chip</p>
            </a>
        </li>
        <li><a href="#">
                <img src="img/beltie_logo.png">
                <h2>Wolfgang Amadeus Phoenix</h2>
                <p>Phoenix</p>
            </a>
        </li>
    </ul>
</div>