<header class="header-title">
    <nav class="menu-header">
        <h1 id="header-title" class="h1-header toLeft">អាហារូបករណ៍</h1>
        <ul class="toRight menu-header-svg" style="padding: 0; margin: 0;">
            <li>
                <a href="./" data-rel="back" style="margin-top: 5px !important" class="ui-btn-right ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-shadow ui-corner-all"  data-role="button" role="button">Back</a>
            </li>
        </ul>
    </nav>
</header>
<div class="container">
    <div style="padding: 10px !important">
        <div class="sch-detail">
            <ul data-role="listview" data-inset="true" id="scholarship-listview" class="scholar" data-filter="true" data-input="#search-sch">
                {{#each scholar}}
                <li data-icon="false" data-uni-map="{{uni_map}}" onclick="ScholarshipModel.fetchById({{sch_id}},{{uni_id}})">
                    <a href='#page-scholarship-detail' data-transition="slide">
                        <div class="scholar scholarIcon scholarIcon4"></div>
                        <h2>{{sch_name}}</h2>
                        <p>{{uni_name}}</p>
                        <p style="color: brown">{{m_name}}</p>            
                    </a></li>
                {{/each}}
            </ul>
        </div>  
    </div>
</div>

