<ul data-role="listview" data-inset="true" id="scholarship-listview" class="scholar" data-filter="true" data-input="#search-sch">
    {{#each scholar}}
    <li data-icon="false" onclick="ScholarshipModel.fetchById({{sch_id}},{{uni_id}})">
        <a href='#page-scholarship-detail' data-transition="slide">
            <div class="scholar scholarIcon"></div>
            <h2>{{sch_name}}</h2>
            <p>{{uni_name}}</p>
            <p style="color: brown">{{m_name}}</p>            
        </a></li>
    {{/each}}
</ul>