<header class="header-title">
    <nav class="menu-header">
        <ul class="toLeft menu-header-svg" style="padding: 0; margin: 0;">
            <li style="margin-left: 10px !important;">
                <a href="./" data-rel="back" style="margin-top: 5px !important" class="ui-btn-left ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-shadow ui-corner-all"  data-role="button" role="button">Back</a>
<!--                <a href="./" data-role="back">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="50px" height="50px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 "/>
</svg>

                </a>-->
            </li>
        </ul>
        <h1 id="header-title" class="h1-header toLeft">អាហារូបករណ៍</h1>
    </nav>
</header>
<div class="container">
    <div style="padding: 10px !important">
        <div class="sch-detail">
            <ul data-role="listview" data-inset="true" id="scholarship-listview" class="scholar" data-filter="true" data-input="#search-sch">
                {{#each scholar}}
                <li data-icon="false" data-uni-map="{{uni_map}}" onclick="ScholarshipModel.fetchById({{sch_id}},{{uni_id}})">
                    <a href='#page-scholarship-detail' data-transition="slide">
                        <div class="scholar scholarIcon scholarIcon4"></div>
                        <h2>{{sch_name}}</h2>
                        <p>{{uni_name}}</p>
                        <p style="color: brown">{{m_name}}</p>            
                    </a></li>
                {{/each}}
            </ul>
        </div>  
    </div>
</div>

