
/* ---------------------------------------------- */
/* Basic Startup */
/* ---------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color:#fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* ---------------------------------------------- */
/* Header */
/* ---------------------------------------------- */
.container { background: #fbfbfb;}
.headerTab { padding: 0 !important; }
.headerTitle {
    background: #215399;
    padding: 50px;    
}
.headerTitleLink {
    text-shadow: none !important;
    color: #FFFFFF;
}


.headerTitle,
.headerNavLink {
    text-shadow: none !important;
    color: #fff !important;
    border-style: none !important;
    font-weight: 400;
    background-color: none;
}

/* Tab Bar */
.headerNav {
    background: #3a7bd5;
}
.headerNavLink {
    text-shadow: none !important;
}


.headerNavLink:hover,
.headerNavLink:focus,
.headerNavLink:visited,
.headerNavLink:active {
    color:#cccccc !important;
    background: #215399 !important;
    -webkit-box-shadow: 0 0 12px #215399 !important;
    -moz-box-shadow: 0 0 12px #215399 !important;
    box-shadow: 0 0 12px #215399 !important;
}

/* scholar list */
/*.ui-listview li {
    width: 100% !important;
    margin-bottom: 10px !important;
    float: left;
    border: 1px solid darkred !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    background: white !important;
    border-radius: 0px !important; 
}
.ui-listview li a {
    background: white !important;
}*/
/**/

/* ---------------------------------------------- */
/* Major */
/* ---------------------------------------------- */

.major {
    border: none !important;
    border-radius: 0 !important;
    background: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.major li {
    background: #fbfbfb !important;
    margin-bottom: 10px !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    -webkit-box-shadow: 0 0 12px #b1b1b1 !important;
    -moz-box-shadow: 0 0 12px #b1b1b1 !important;
    box-shadow: 0 0 12px #b1b1b1 !important;
}

.major li a {
    padding: 0;
    border: none !important;
}

.major.majorIcon {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    background: #2bb5c4 !important;
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 15px;
    text-align: center;
    font-size: 50px;
    color: #fff;
    padding: 8px 0;
    font-weight: lighter;
}

.major li a h2 {
    color: #6b7279;
    font-weight: lighter;
}

.major li a p {
    color: #b1b6bc;
    font-weight: lighter;
    text-transform: none;
}
.div-cicle {
    border-radius: 50%;
    background: #73AD21;
    padding: 10px; 
    width: 50px;
    height: 50px; 
}
